
* {
     -moz-box-sizing: border-box;
     -o-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

body {
    width: 99%;
    height: 96%;
	background-image: url("database/images/main.png");
	background-attachment:fixed;
	background-size: cover;
}

#main {
    text-align: center;
    position: relative;
    top: 10%;
    transform: translate3d(0,-50%,0);
}